<form action="/addition" method="POST">
    <p>Nome: </p>
    <input type="text" name="name">
    <p>Email: </p>
    <input type="text" name="email">
    <p>Senha: </p>
    <input type="text" name="pass">
    <button type="submit">Cadastrar</button>
</form>