* {
  margin: 0;
  padding: 0%;
}

.boxForm {
  background-color: transparent;
  border: 1px solid #00ae9d;
  border-radius: 10px;
}

.formatLink {
  font-size: 12px !important;
  color: rgb(206, 204, 204);
}

.boxContent {
  margin-top: -30%;
  margin-right: 1%;
}

.btn,
.btn-large,
.btn-small,
.btn-flat {
  border-style: solid;
  border-width: medium;
  border-color: rgb(0, 191, 111);
  border-radius: 200px;
  display: inline-block;
  height: 20px;
  line-height: 36px;
  padding: 0 16px;
  /*text-transform: uppercase;*/
  vertical-align: medium;
  line-height: 30px;
  /*-webkit-tap-highlight-color: transparent;*/
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  border-style: solid;
  border-width: thin;
  border-color: rgb(0, 191, 111);
  border-radius: 8%;
  color: rgb(0, 83, 55);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

/*Custom Style Button 2*/

.btn,
.btn-large,
.btn-small {
  text-decoration: bold;
  color: #00ae9d;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  cursor: pointer;
}

.btn2:hover,
.btn2-large:hover,
.btn2-small:hover {
  border-style: solid;
  border-width: medium;
  border-color: #00ae9d;
  border-radius: 200px;
  color: #00ae9d;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.social:hover {
  width: 115%;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.container .row {
  margin: 0 auto;
}

h5 {
  color: #00ae9d;
}

/* label color */
.input-field label {
  color: rgb(255, 255, 255);
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #00ae9d;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #00ae9d;
  box-shadow: 0 1px 0 0 #00ae9d;
}

.input-field input[type="password"]:focus {
  border-bottom: 1px solid #00ae9d;
  box-shadow: 0 1px 0 0 #00ae9d;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #00ae9d;
  box-shadow: 0 1px 0 0 #00ae9d;
}

.input-field input[type="password"].valid {
  border-bottom: 1px solid #00ae9d;
  box-shadow: 0 1px 0 0 #00ae9d;
}
/* invalid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #00ae9d;
  box-shadow: 0 1px 0 0 #00ae9d;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #00ae9d;
}

.spacement {
  margin-bottom: 0px;
  margin-top: -20px;
}
